/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0;
}
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.heading {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 30px;
  color: #0f172a;
  margin-bottom: 20px;
  margin-top: 50px;
}
.box-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.warning-bg-color {
  background-color: #fbbf24;
  font-family: "Bree Serif";
  font-size: 12px;
  height: 80px;
  width: 80px;
  margin-right: 25px;
  border-color: transparent;
}
.info-bg-color {
  background-color: #38bdf8;
  font-family: "Bree Serif";
  font-size: 18px;
  height: 110px;
  width: 120px;
  margin-right: 25px;
  border-color: transparent;
}
.pink-bg-color {
  background-color: #ec4899;
  font-family: "Bree Serif";
  font-size: 25px;
  height: 150px;
  width: 160px;
  border-color: transparent;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
  .warning-bg-color {
    font-size: 18px;
    height: 90px;
    width: 100px;
  }
  .info-bg-color {
    font-size: 22px;
    height: 140px;
    width: 160px;
  }
  .pink-bg-color {
    font-size: 30px;
    height: 160px;
    width: 210px;
  }
}
